.container {
  margin: 1rem auto;
  max-width: 300px;
  border: 1px solid var(--green);
  border-radius: 0.25rem;
  padding: 1rem 2rem;
  display: block;
  font-size: 1.2rem;
  text-align: center;
}

.red {
  border-color: var(--red);
  color: var(--red)
}

.yellow {
  border-color: var(--yellow);
  color: var(--yellow);
}

.blue {
  border-color: var(--blue);
  color: var(--blue);
}