@import url("https://fonts.googleapis.com/css?family=Rubik");
@import url("https://fonts.googleapis.com/css?family=VT323");
@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro");

html {
  font-family: 'Rubik', sans-serif;
  color: #aaa
}

body {
  background-color: #000;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
}

.box-container {
  background: #111;
  margin: 16px 0;
  padding: 16px;
}

.box-container > h1 {
  margin: 0;
}

.box-container  a,
.box-container  h1,
.box-container  h1,
.box-container  h4 {
  font-family: 'Source Code Pro', monospace;
}

hr {
  border: 1px solid #333;
}
