@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono&display=swap');
@import url("https://fonts.googleapis.com/css?family=VT323&display=swap");

:root {
  --white: #fff;
  --background: #272C35;
  --background-dark: #20252C;
  --green: #7BBD5C;
  --green-dark: rgb(110, 169, 82);
  --purple: #CC6DDB;
  --red: ##EA4A5F;
  --yellow: #FFD700;
  --orange: #D6955C;
  --blue: #389EF2;
  --blue-dark: #00698D;
}

html {
  font-family: 'IBM Plex Mono', monospace;
  color: var(--white);
}

body {
  margin: 0;
}

h1 {
  color: rgba(255, 255, 255, 1);
}

h2 {
  color: rgba(255, 255, 255, 0.9);
}

h3 {
  color: rgba(255, 255, 255, 0.8);
}

h4 {
  color: rgba(255, 255, 255, 0.7);
}

h5 {
  color: rgba(255, 255, 255, 0.6);
}

h6 {
  color: rgba(255, 255, 255, 0.5);
}

body {
  background-color: var(--background-dark);
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
}

.box-container {
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 0.25rem;
  margin: 1rem 0.25rem;
  padding: 1rem;
}

.box-container>h1 {
  margin: 0;
}

hr {
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.layout {
  margin: 0 auto;
  max-width: 1024px;
  padding: 0 0.5rem;
}