.container {
  display: inline-block;
  padding: 0.25rem 0.5rem;
  color: var(--white);
  background-color: var(--blue);
  border-radius: 0.25rem;
  margin-top: 0.25rem;
  margin-right: 0.25rem;
}

.container:first-child {
  margin-left: 0;
}

.container:last-child {
  margin-right: 0;
}