.tab-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 16px 0;
}

.tab {
  font-size: 1.3rem;
  cursor: pointer;
  background: none;
  font-family: inherit;
  color: rgba(255, 255, 255, 0.2);
  border: none;
  outline: none;
}

.tab:hover {
  text-decoration: underline;
}

.active {
  color: var(--yellow);
  text-decoration: underline;
}

@media (max-width: 600px) {
  .tab-container {
    flex-direction: column;
  }

  .active {
    background-color: rgba(255, 255, 255, 0.02);
  }
}