.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem 0;
}

.container .blog-title {
  font-size: 1rem;
  color: var(--blue);
}

.container .blog-date {
  flex: 0 0 80px;
  font-size: .8rem;
  color: rgba(255, 255, 255, 0.2);
  word-break: keep-all;
  text-align: right;
  margin-left: 0.25rem;
}

.container h2,
.container h3,
.container p {
  margin: 0;
}