.url {}

.title {
  color: var(--green)
}

.compensation {}

.software-type {}

.technologies {
  margin-bottom: 0;
}

.technology-pills {
  margin-bottom: 1rem;
}

.details {
  font-size: 0.8rem;
}

.details ul {
  padding-inline-start: 1rem;
}

.external-link {
  margin-left: 16px;
  font-size: .5em;
  vertical-align: middle;
}