.time-container {
  display: grid;
  grid-template-columns: 1fr 40px 1fr;
  grid-template-rows: auto;
  grid-template-areas: 
    "left center right";
}

.leftColumn {
  grid-area: left;
}

.center {
  grid-area: center;
  width: 40px;
  height: 100%;
}

.rightColumn {
  grid-area: right;
  text-align: right;
}

.line {
  stroke-width: 4px;
  height: 100px;
  stroke: limegreen;
}

.circle {
  fill: limegreen;
  stroke: limegreen; 
  stroke-width: 2px;
  stroke-opacity: 1;
}

.pulse {
  fill: white;
  fill-opacity: 0;
  transform-origin: 50% 50%;
  animation-duration: 2s;
  animation-name: pulse;
  animation-iteration-count: infinite;
}

@keyframes pulse {
  from {
    stroke-width: 3px;
    stroke-opacity: 1;
    transform: scale(0.3);
  }
  to {
    stroke-width: 0;
    stroke-opacity: 0;
    transform: scale(2);
  }
}

@media (max-width: 736px) {
  .time-container {
    grid-template-columns: 40px auto auto;
    grid-template-areas: 
      "center left right";
  }

  .rightColumn {
    text-align: left;
  }
}

.fadeIn {
  animation: fadeIn ease 1s;
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}