.time-container {
  display: flex;
  justify-content: space-between;
  color: var(--white);
  align-items: stretch;
}

.center {
  flex: 0 0 40px;
  position: relative;
  display: flex;
}

.rightColumn {
  flex: 1 0 calc(50% - 20px);
}

.line {
  width: 40px;
}

.line line {
  stroke-width: 4px;
  stroke: var(--green);
}


.circleContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.circle {
  fill: var(--green);
  stroke: var(--green);
  stroke-width: 2px;
  stroke-opacity: 1;
}

.pulse {
  fill: white;
  fill-opacity: 0;
  transform-origin: 50% 50%;
  animation-duration: 2s;
  animation-name: pulse;
  animation-iteration-count: infinite;
}

@keyframes pulse {
  from {
    stroke-width: 3px;
    stroke-opacity: 1;
    transform: scale(0.3);
  }

  to {
    stroke-width: 0;
    stroke-opacity: 0;
    transform: scale(2);
  }
}

.fadeIn {
  animation: fadeIn ease 0.6s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}