.url {}

.title {
  color: var(--yellow)
}

.compensation {
  margin-top: 0.5rem;
}

.software-type {
  margin-top: 1rem;
}

.technologies {
  margin-top: 1rem;
  margin-bottom: 0;
}

.details {
  margin-top: 1.5rem;
  font-size: 0.8rem;
}

.details ul {
  padding-inline-start: 1rem;
  margin: 0;
}

.external-link {
  margin-left: 16px;
  font-size: .5em;
  vertical-align: middle;
}